.row > div {
    background-color: #e2e6ea;
    background-clip: content-box;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
}

.row > div:nth-child(2) {
    background-color: #9fa6ad;
}