
.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
}

.gridNav {
    background-color: #c6c0ff;
}

.gridMain {
    background-color: #f9f6d2;
}

.gridAside {
    background-color: #d4ffd1;
}

.gridFooter {
    background-color: #ffd1d1;
}

@media screen and(min-width: 768px) {
    .grid-template-colmns: 200px 1fr 200px;

}