.container{
    background-color: cornflowerblue;
}

.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
}

.block.block1{

 }
.block.block2{

}
.block.block3{

}
.block.block4{

}
.block.block5{

}
.block.block6{

}
.block.block7{

}
.block.block8{

}
.block.block9{

}
