div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
body div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
.item-1,
.item-6 {
    display: none;
}
.item-9 {
    grid-column: 1;
    grid-row: 1;
}
.item-2 {
    grid-column: 2;
    grid-row: 1;
}
.item-3 {
    grid-column: 1 / -1;
    grid-row: 4;
}

@media screen and (min-width: 760px) {
    body div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }
    .item-1,
    .item-6 {
        display: flex;
    }
    .item-2,
    .item-3,
    .item-9 {
        grid-column: auto;
        grid-row: auto;
    }
}
/*mijn verzamzling kleuren*/
.item-1 { background: #b03532; }
.item-2 { background: #33a8a5; }
.item-3 { background: #30997a; }
.item-4 { background: #6a478f; }
.item-5 { background: #da6f2b; }
.item-6 { background: #3d8bb1; }
.item-7 { background: #e03f3f; }
.item-8 { background: #59a627; }
.item-9 { background: #4464a1; }