
.container {
    overflow: hidden;
    width: 100%;
}


.column {
    float: left;
width: 50%;          

padding: 10px;
box-sizing: border-box;
}


.inner {

    border: 1px solid black;
    padding: 10px;
}
.kolom {

    float: left;
    width: 50%;
    padding: 10px;
    border: 1px solid black;

    box-sizing: border-box;
}