
h1, h2, h3 {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2ex;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}


p {
    font-family: "Times New Roman", serif;
    font-size: 1.2em;
}


.rood {
    color: red;
}

.groen {
    color: green;
}

.blauw {
    color: blue;
}
