@font-face {
    font-family: "Kumbh";
    src: url(../fonts/kumbh.ttf) format("truetype");
}

body {
    font-size: 1.8em;
    background: url('../images/bg-pattern-top.jpg'), url('../images/bg-pattern-bottom.jpg'), hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    background-position: center;
    min-block-size: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: url('../images/bg-pattern-card.jpg') no-repeat, white;
    background-size: contain;
    border-radius: .5em;
    min-block-size: 20rem;
    inline-size: 100%;
    max-inline-size: 350px;


    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .profile-picture-wrapper {

    order: -1;
    margin-block-start: 4.5em;
}

.card header {
    text-align: center;
    border-block-end: 1px solid hsl(0, 0%, 59%);
    inline-size: 100%;
    padding-bottom: 2em;
}

.card header div {
    display: inline-block;
}

.card img {
    border-radius: 100%;
    border: .25em solid white;
}

.name {
    font-weight: bold;
    color: hsl(229, 23%, 23%);
}

.card .stats {
    font-size: .75rem;
    inline-size: 100%;
    padding: 2em;


    display: flex;
    justify-content: space-evenly;
}

.stats {
    color: hsl(0, 0%, 59%);
}

.stats .amount {
    color: hsl(229, 23%, 23%);
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}

.card .stats > * {
    text-align: center;
}

.age, .location {
    color: hsl(0, 0%, 59%);
}

.location {
    font-size: .75rem;
    margin-top: 0.5em;
}