.colorDemo {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
}

.gekleurdBlok {
    box-sizing: border-box;
    float: left;
    padding-left: 25px;
    border-left: 1px black solid;
}

p {
    display: inline-block;
}

.alleSliders {
    box-sizing: border-box;
    float: left;
    padding-right: 25px;
}
