
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}


section {
    width: 95%;
    margin: auto;
    background-color: white;
}


section > header {

    background-image: url('../labo7/images/header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    position: relative;
    display: flex;
    align-items: flex-start;

    background-color: #70a040;
}

section > header h1 {
    margin: 0;
    padding: 15px 25px;
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}


nav {
    background-color: #444444;
    padding: 10px 25px;
    font-size: 14px;
    color: #4EFF9C;
}

nav a {
    color: #4EFF9C;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #b0e0b0;
}


div {
    background-color: #e0e0e0;
    padding: 25px;
}


article {
    background-color: white;
    margin-bottom: 20px;
    padding: 25px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

article:last-child {
    margin-bottom: 0;
}

article header h2 {
    margin: 0 0 18px 0;
    color: #4a5a5a;
    font-size: 22px;
    text-decoration: underline;
    font-weight: bold;
}

article p {
    line-height: 1.7;
    color: #000000;
    margin: 0 0 12px 0;
    text-align: justify;
    font-size: 14px;
}

article footer {
    margin-top: 10px;
}

article footer a {
    color: #5577bb;
    text-decoration: none;
    font-weight: normal;
}

article footer a:hover {
    text-decoration: underline;
}


section > footer {
    background-color: #202020;
    color: #ffffff;
    padding: 12px 25px;
    text-align: center;
    font-size: 12px;
}