[cite_start]
* {
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

[cite_start]
header.top {
    position: relative;
    height: 200px;
    background-image: url('images/bgsky3.jpg');
    text-align: center;
    color: darkblue;
    overflow: hidden;
}

.top-title {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    margin: 10px 0;
}

.sub-title {
    font-size: 240%;
    font-weight: bold;
    margin: 0;
}

.plane-img {
    position: absolute;
    right: 250px;
    bottom: 60px;
    z-index: 10; [cite_start]
}


aside.news {
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
}

main.main {
    float: left;
    width: calc(75% - 10px); [cite_start]
margin-right: 10px;
}

[cite_start]
aside.news h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
    margin: 0;
    padding: 5px 0;
}

aside.news p {
    color: #666666;
    font-size: 90%;
    margin: 10px;
}

[cite_start]
.introduction {
    background-color: white;
    color: black;
    text-align: justify;
    padding: 20px 30px 20px 0;
    overflow: auto;
}

.introduction .logo {
    float: left;
    margin: 20px; [cite_start]
}

.introduction b {

}

.introduction .highlight {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

[cite_start]
.gallery {
    background-color: #999999;
    padding: 20px;
    overflow: hidden;
}

.foto {
    float: left;
    background-color: white;
    padding: 10px;
    border: 1px dotted #999999;
    margin-right: 20px;
    margin-bottom: 20px;
}

.foto img {
    width: 180px;
    height: 180px;
    display: block;
}

[cite_start]
footer.bottom {
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;
    padding: 20px 0;
    overflow: auto;
}

.block {
    float: left;
}

.first-block {
    margin-left: 120px; [cite_start]
}

footer.bottom ul {
    list-style-type: disc;
}

footer.bottom a {
    color: white;
    text-decoration: none;
}

footer.bottom a:hover {
    color: red; [cite_start]
}

[cite_start]
.copyright {
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;

    clear: both;
}