.container {
    background:gray;
    border:2px solid black;
    color:white;
}
.container div {
    height:200px;
    width:300px;
    display:inline-block;
}

.coloredBlock1 {
    background-color:Red;
}

.coloredBlock2 {
    background-color:Blue;
}